<!-- Required for the landing page at iwb.github.io -->


<!-- To-do: Provide github link + title of the work as comment (replace this comment) -->
<div class="project-card">
    <!-- To-do: Update github link -->
    <a href="https://github.com/iwb/update-me" target="_blank" rel="noopener noreferrer">
        <!-- To-do: Update link to figure (Provide svg!) -->
        <div class="image-wrapper">
            <img src="./images/repos/update-me.svg" alt="Repo Image" class="card-image">
        </div>
        <!-- To-do: Update project title -->
        <div class="project-content">
            <h3 class="project-title">Update me - Not Written in Capitalized Form - Just as a normal title with the first letter capitalized</h3>
            <!-- To-do: Update DOI, remove DOI (if not related or publication) or keep tba. if in review-->
            <p class="doi">
                <a href="#" target="_blank" rel="noopener noreferrer">DOI: tba. (or update-me or delete-me)<i class="fas fa-external-link-alt"></i></a>
            </p>
            <p class="keywords">
                <!-- To-do: Update keywords, minimum 3, maximum 4 -->
                <span class="keyword">update-me</span>
                <span class="keyword">update-me</span>
                <span class="keyword">update-me</span>
                <span class="keyword">update-me</span>
            </p>
            <!-- To-do: Update year of release -->
            <p class="year">Released: update-me (year)</p>
        </div>
    </a>
</div>